<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHORT STORIESS</title>
  </head>
  <body>
    <h1>
      this is where all stories go
      <a href="/">home</a>
    </h1>

    <% for(let story of stories){ %>
    <div>
      <h3><a href="/shortStories/<%=story._id %>"> <%= story.title %></a></h3>
      <h6>By : <%= story.author %></h6>
    </div>

    <% } %>

    <a href="/shortStories/new"> new story</a>
  </body>
</html>
