<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post A Story!!</title>
  </head>
  <body>
    <h1>MAKE STORYY</h1>

    <form action="/shortStories" method="POST">
      <div>
        <label for="author">Author</label
        ><input type="text" name="author" id="author" />
      </div>
      <div>
        <label for="title">Title</label
        ><input type="text" name="title" id="title" />
      </div>

      <div>
        <label for="story">Your Story</label
        ><textarea name="story" id="story" cols="30" rows="30"></textarea>
      </div>
      <button>SUBMIT</button>
    </form>
    <a href="/shortStories">back to index</a>
  </body>
</html>
